<div class="znxy-views">
    <div class="znxy-questions-view znxy-question-age">
        <div class="znxy-questions-photo znxy-ui-aside"><img
                src="https://app.img.kangfuzi.com/764d6aa6289266940b9049d78dec0d12.png?x-oss-process=image/resize,m_fill,w_100,h_100,limit_0/auto-orient,0/quality,q_90">
        </div>
        <div class="znxy-questions-main znxy-ui-fluidunit">
            <div class="znxy-questions-op znxy-ui-aside-right">
                <div class="znxy-questions-opt-container">
                    <a href="###" class="znxy-questions-button znxy-questions-modify"
                       hidden="">修改</a>
                    <a href="###" class="znxy-questions-button znxy-questions-cancel"
                       hidden="">取消</a>
                </div>
            </div>
            <div class="znxy-questions-bubble znxy-ui-fluidunit"><h3>请输入年龄</h3>
                <form class="znxy-questions-form" novalidate="">
                    <div class="znxy-ui-clearfix">
                        <div class="znxy-ui-aside-right">
                            <div class="znxy-ui-select"><label for="selectAge"
                                                               class="znxy-ui-label"> <select
                                    id="selectAge" class="znxy-questions-select">
                                <option value="岁">岁</option>
                                <option value="月">月</option>
                                <option value="天">天</option>
                            </select> <i class="znxy-ui-triangle-down"></i> </label></div>
                        </div>
                        <div class="znxy-ui-fluidunit"><input type="number"
                                                              class="znxy-questions-input" min="1"
                                                              max="150"></div>
                    </div>
                    <div class="znxy-questions-buttons-container">
                        <button class="znxy-questions-submit-button" disabled="">确认</button>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>
<!--<
div class="znxy-views">-->
<!--<div class="znxy-questions-view znxy-question-multiple-choice-with-input">-->
<!--<div class="znxy-questions-photo znxy-ui-aside"><img-->
<!--src="https://app.img.kangfuzi.com/764d6aa6289266940b9049d78dec0d12.png?x-oss-process=image/resize,m_fill,w_100,h_100,limit_0/auto-orient,0/quality,q_90">-->
<!--</div>-->
<!--<div class="znxy-questions-main znxy-ui-fluidunit">-->
<!--<div class="znxy-questions-op znxy-ui-aside-right">-->
<!--<div class="znxy-questions-opt-container">-->
<!--<a href="###"class="znxy-questions-button znxy-questions-modify"-->
<!--hidden="">修改</a>-->
<!--<a href="###"class="znxy-questions-button znxy-questions-cancel"-->
<!--hidden="">取消</a>-->
<!--</div>-->
<!--</div>-->
<!--<div class="znxy-questions-bubble znxy-ui-fluidunit"><h3>请选择症状？</h3>-->
<!--<form class="znxy-questions-form">-->
<!--<div class="znxy-questions-options-container"><label-->
<!--class="znxy-questions-options-label znxy-ui-formitem-checkbox"> <input-->
<!--type="checkbox" value="0" option="发热"-->
<!--class="znxy-questions-option znxy-questions-af1eda16a11a5d563dbefbb2d4c760a01520394236-0">-->
<!--<i></i> <span> 发热  </span> </label> <label-->
<!--class="znxy-questions-options-label znxy-ui-formitem-checkbox"> <input-->
<!--type="checkbox" value="1" option="呕吐"-->
<!--class="znxy-questions-option znxy-questions-af1eda16a11a5d563dbefbb2d4c760a01520394236-1">-->
<!--<i></i> <span> 呕吐  </span> </label> <label-->
<!--class="znxy-questions-options-label znxy-ui-formitem-checkbox"> <input-->
<!--type="checkbox" value="2" option="乏力"-->
<!--class="znxy-questions-option znxy-questions-af1eda16a11a5d563dbefbb2d4c760a01520394236-2">-->
<!--<i></i> <span> 乏力  <span-->
<!--class="znxy-questions-option-note">（ 感到没有力气 ）</span>  </span>-->
<!--</label> <label class="znxy-questions-options-label znxy-ui-formitem-checkbox">-->
<!--<input type="checkbox" value="3" option="恶心"-->
<!--class="znxy-questions-option znxy-questions-af1eda16a11a5d563dbefbb2d4c760a01520394236-3">-->
<!--<i></i> <span> 恶心  </span> </label> <label-->
<!--class="znxy-questions-options-label znxy-ui-formitem-checkbox"> <input-->
<!--type="checkbox" value="4" option="头痛"-->
<!--class="znxy-questions-option znxy-questions-af1eda16a11a5d563dbefbb2d4c760a01520394236-4">-->
<!--<i></i> <span> 头痛  </span> </label> <label-->
<!--class="znxy-questions-options-label znxy-ui-formitem-checkbox"> <input-->
<!--type="checkbox" value="5" option="腹痛"-->
<!--class="znxy-questions-option znxy-questions-af1eda16a11a5d563dbefbb2d4c760a01520394236-5">-->
<!--<i></i> <span> 腹痛  </span> </label> <label-->
<!--class="znxy-questions-options-label znxy-ui-formitem-checkbox"> <input-->
<!--type="checkbox" value="6" option="气促"-->
<!--class="znxy-questions-option znxy-questions-af1eda16a11a5d563dbefbb2d4c760a01520394236-6">-->
<!--<i></i> <span> 气促  <span-->
<!--class="znxy-questions-option-note">（ 呼吸急促，气短而不均匀 ）</span>  </span>-->
<!--</label> <label class="znxy-questions-options-label znxy-ui-formitem-checkbox">-->
<!--<input type="checkbox" value="7" option="头晕"-->
<!--class="znxy-questions-option znxy-questions-af1eda16a11a5d563dbefbb2d4c760a01520394236-7">-->
<!--<i></i> <span> 头晕  </span> </label> <label-->
<!--class="znxy-questions-options-label znxy-ui-formitem-checkbox"> <input-->
<!--type="checkbox" value="8" option="腹泻"-->
<!--class="znxy-questions-option znxy-questions-af1eda16a11a5d563dbefbb2d4c760a01520394236-8">-->
<!--<i></i> <span> 腹泻  </span> </label> <label-->
<!--class="znxy-questions-options-label znxy-ui-formitem-checkbox"> <input-->
<!--type="checkbox" value="9" option="厌食"-->
<!--class="znxy-questions-option znxy-questions-af1eda16a11a5d563dbefbb2d4c760a01520394236-9">-->
<!--<i></i> <span> 厌食  </span> </label> <label-->
<!--class="znxy-questions-options-label znxy-ui-formitem-checkbox"> <input-->
<!--type="checkbox" value="10" option="咳嗽"-->
<!--class="znxy-questions-option znxy-questions-af1eda16a11a5d563dbefbb2d4c760a01520394236-10">-->
<!--<i></i> <span> 咳嗽  </span> </label> <label-->
<!--class="znxy-questions-options-label znxy-ui-formitem-checkbox"> <input-->
<!--type="checkbox" value="11" option="腹胀"-->
<!--class="znxy-questions-option znxy-questions-af1eda16a11a5d563dbefbb2d4c760a01520394236-11">-->
<!--<i></i> <span> 腹胀  </span> </label> <label-->
<!--class="znxy-questions-options-label znxy-ui-formitem-checkbox"> <input-->
<!--type="checkbox" value="12" option="胸痛"-->
<!--class="znxy-questions-option znxy-questions-af1eda16a11a5d563dbefbb2d4c760a01520394236-12">-->
<!--<i></i> <span> 胸痛  </span> </label> <label-->
<!--class="znxy-questions-options-label znxy-ui-formitem-checkbox"> <input-->
<!--type="checkbox" value="13" option="烦躁"-->
<!--class="znxy-questions-option znxy-questions-af1eda16a11a5d563dbefbb2d4c760a01520394236-13">-->
<!--<i></i> <span> 烦躁  </span> </label> <label-->
<!--class="znxy-questions-options-label znxy-ui-formitem-checkbox"> <input-->
<!--type="checkbox" value="14" option="胸闷"-->
<!--class="znxy-questions-option znxy-questions-af1eda16a11a5d563dbefbb2d4c760a01520394236-14">-->
<!--<i></i> <span> 胸闷  <span-->
<!--class="znxy-questions-option-note">（ 胸部出现重物挤压的感觉 ）</span>  </span>-->
<!--</label> <label class="znxy-questions-options-label znxy-ui-formitem-checkbox">-->
<!--<input type="checkbox" value="15" option="肌紧张"-->
<!--class="znxy-questions-option znxy-questions-af1eda16a11a5d563dbefbb2d4c760a01520394236-15">-->
<!--<i></i> <span> 肌紧张  <span class="znxy-questions-option-note">（ 肌肉持续性收缩，不能放松 ）</span>  </span>-->
<!--</label> <label class="znxy-questions-options-label znxy-ui-formitem-checkbox">-->
<!--<input type="checkbox" value="16" option="休克"-->
<!--class="znxy-questions-option znxy-questions-af1eda16a11a5d563dbefbb2d4c760a01520394236-16">-->
<!--<i></i> <span> 休克  <span-->
<!--class="znxy-questions-option-note">（ 晕厥，出现丧失意识 ）</span>  </span>-->
<!--</label> <label class="znxy-questions-options-label znxy-ui-formitem-checkbox">-->
<!--<input type="checkbox" value="17" option="不安"-->
<!--class="znxy-questions-option znxy-questions-af1eda16a11a5d563dbefbb2d4c760a01520394236-17">-->
<!--<i></i> <span> 不安  </span> </label> <label-->
<!--class="znxy-questions-options-label znxy-ui-formitem-checkbox"> <input-->
<!--type="checkbox" value="18" option="低热"-->
<!--class="znxy-questions-option znxy-questions-af1eda16a11a5d563dbefbb2d4c760a01520394236-18">-->
<!--<i></i> <span> 低热  <span-->
<!--class="znxy-questions-option-note">（ 出现37到38度的发热 ）</span>  </span>-->
<!--</label> <label class="znxy-questions-options-label znxy-ui-formitem-checkbox">-->
<!--<input type="checkbox" value="19" option="嗜睡"-->
<!--class="znxy-questions-option znxy-questions-af1eda16a11a5d563dbefbb2d4c760a01520394236-19">-->
<!--<i></i> <span> 嗜睡  </span> </label> <input type="text"-->
<!--class="znxy-questions-input"-->
<!--placeholder="如有其他症状请输入"></div>-->
<!--<div class="znxy-questions-buttons-container">-->
<!--<button class="znxy-questions-submit-button" ng-click="radio_upload(outerIndex,innerIndex)">确认</button>-->
<!--</div>-->
<!--</form>-->
<!--</div>-->
<!--</div>-->
<!--</div>-->
<!--</div>-->