<div class="app">
    <div class="main">
        <div class="container-box">
            <div class="k-header" style="background-color: rgb(93, 103, 164);">
                <header class="header"><span>在线体验-智能导诊</span></header>
            </div>
            <div id="context" class="default-top">
                <div class="declare_content"><span class="declare_text">声明：在线体验-智能导诊不能代替线下执业医生的诊疗，以下结果只能作为建议。</span>
                </div>
                <div  data-v-1e3c965c="" class="top-nav"><span ng-click="gopage(0)"  ui-sref-opts="{reload: true}" data-v-1e3c965c="" ng-class="class1[0]" >智能诊断</span><span ng-click="gopage(1)"  ui-sref-opts="{reload: true}" data-v-1e3c965c="" ng-class="class1[1]" >预问诊</span><span data-v-1e3c965c="" class="">预问诊</span><span data-v-1e3c965c="" class="top-nav-pre">智能导诊</span></div>

                <div>
                    <div ui-view></div>
                </div>

            </div>
        </div>
    </div>
</div>
</div>

