<div class="app">
    <div class="main">
        <div class="container-box">
            <div class="k-header" style="background-color: rgb(93, 103, 164);">
                <header class="header"><span>在线体验-智能导诊</span></header>
            </div>
            <div id="context" class="default-top">
                <div class="declare_content"><span class="declare_text">声明：在线体验-智能导诊不能代替线下执业医生的诊疗，以下结果只能作为建议。</span>
                </div>
                <div id="container">
                    <div ng-repeat="x in data" ng-init="outerIndex = $index">
                        <div ng-switch="x.select">
                            <div class="znxy-question-container" ng-switch-when="radio">
                                <div class="znxy-views">

                                    <div class="znxy-questions-photo znxy-ui-aside"><img
                                            src="https://app.img.kangfuzi.com/317f5f87d689f6bda9762261d29719d7.png?x-oss-process=image/resize,m_fill,w_100,h_100,limit_0/auto-orient,0/quality,q_90">
                                    </div>
                                    <div class="znxy-questions-main znxy-ui-fluidunit">
                                        <div class="znxy-questions-op znxy-ui-aside-right">
                                            <div class="znxy-questions-opt-container">
                                                <a class="znxy-questions-button znxy-questions-modify"
                                                   ng-click="modify(outerIndex)" ng-show="x.isShow">修改</a>
                                                <a class="znxy-questions-button znxy-questions-cancel"
                                                   ng-click="cancel(outerIndex)" ng-hide="x.isShow">取消</a></div>
                                        </div>
                                        <div class="znxy-questions-bubble znxy-ui-fluidunit"><h3>{{x.desc}}</h3>
                                            <form class="znxy-questions-form">
                                                <div class="znxy-questions-options-container"><label
                                                        class="znxy-questions-options-label znxy-ui-formitem-radio"
                                                        ng-repeat="r in x.option" ng-init="innerIndex = $index">
                                                    <input type="radio" class="znxy-questions-option" name="select"
                                                           ng-click="change(outerIndex,innerIndex)">
                                                    <i></i> <span> {{r.label}} </span> </label></div>
                                            </form>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div id="znxy-question-container-c7ecad80b33bb5b4e23eda75ae83df051515140594" ng-switch-when="text">
                                <div class="znxy-views">
                                    <div class="znxy-questions-view">
                                        <div class="znxy-questions-photo znxy-ui-aside"><img
                                                src="https://app.img.kangfuzi.com/317f5f87d689f6bda9762261d29719d7.png?x-oss-process=image/resize,m_fill,w_100,h_100,limit_0/auto-orient,0/quality,q_90">
                                        </div>
                                        <div class="znxy-questions-main znxy-ui-fluidunit">
                                            <div class="znxy-questions-op znxy-ui-aside-right">
                                                <div class="znxy-questions-opt-container"><a href="###"
                                                                                             class="znxy-questions-button znxy-questions-modify"
                                                                                             hidden="">修改</a> <a
                                                        href="###" class="znxy-questions-button znxy-questions-cancel"
                                                        hidden="">取消</a></div>
                                            </div>
                                            <div class="znxy-questions-bubble znxy-ui-fluidunit"><h3>请问有什么不适症状？</h3>
                                                <form class="znxy-questions-form">
                                                    <div class="znxy-questions-options-container"><textarea
                                                            class="znxy-questions-textarea"
                                                            placeholder="请输入症状, 例如咳嗽、发烧等"></textarea></div>
                                                    <div class="znxy-questions-buttons-container">
                                                        <button class="znxy-questions-submit-button" disabled="">确认
                                                        </button>
                                                    </div>
                                                </form>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div id="znxy-answer-container" ng-show="x.isShow">
                            <div class="znxy-views">
                                <div class="znxy-answers-view">
                                    <div class="znxy-answers-photo znxy-ui-aside-right"><img
                                            src="https://app.img.kangfuzi.com/b8b9f79a2f3f60198e67de4dd5b12a9b.png?x-oss-process=image/resize,m_fill,w_100,h_100,limit_0/auto-orient,0/quality,q_90">
                                    </div>
                                    <div class="znxy-answers-main znxy-ui-fluidunit">
                                        <div class="znxy-answers-content">
                                            <div class="znxy-answers-bubble"><p>{{anwser[outerIndex]}}</p></div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
</div>